.main h1{
    font-size: 20px;


}


.main{
    display: flex;
    gap: 100px;
    justify-content:center ;
    margin-top: 50px;
    list-style-type: none;


}

.main li{
    font-size: 12px;
}

.trending li{
    font-size: 12px;
}